* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

/* Loading */
.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fdfdfdc9;
    z-index: 1;
}

.loading-image {
    background-image: url(../images/loading.gif);
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 47%;
    margin-top: 15%;
    z-index: 2;
    width: 120px;
    height: 120px;
}

/*Header*/
.header {
    display: flex;
    height: 70px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    background-color: #16708d;
}

.logo .image-logo {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
    object-fit: contain;
}


.banner {
    flex: 1;
    background-color: #457b9d;
    display: flex;
    justify-content: end;
    /* background-image: url("../images/banner1.jpg");
    background-size: cover;
    background-position: top; */
}

/* User account - profile - logout */
.userAccount{
    width: 200px;
}

.dropbtnAccount {
    color: #FFFFFF;
    background-color: #457b9d;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdownAccount {
    padding-top: 8px;
    padding-left: 15px;
    position: relative;
    display: inline-block;
  }
  
  .dropdownAccount-content {
    display: none;
    position: absolute;
    background-color: #e3f2fd;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownAccount-content a {
    color: #13293d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdownAccount a:hover {background-color: #bbdefb;}
/* .head-link {
    background-color: #cce3de;
    text-align: center;
    padding: 15px;
} */



/*Body*/
.body {
    display: flex;
    flex: 1;
    /* Chiếm toàn bộ không gian giữa header và footer */
    background-color: #f4f4f4;
}




/*Sidebar menu*/
.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 250px;
    background-color: #ffffff;
    color: #13293d;
    text-align: left;
}

.sidebar .sidebar-menu {
    position: relative;
    top: 10px;
}

.sidebar-menu li {
    margin: 10px 0;
    padding-bottom: 15px;
    padding-right: 50px;
    padding-top: 15px;
    padding-left: 30px;

}

.sidebar-menu a {
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.sidebar-menu li:hover {
    border-left: 1px solid #0d47a1;
    background: #bbdefb;
}

/*Sidebar menu*/

/*Content*/
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* Content chiếm không gian còn lại */
    background-color: #f2f5f5;
    padding: 0 20px 0 20px;
}

.card-content {
    display: flex;
    height: 18%;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.card-item {
    width: 18%;
    background-color: #ffffff;
    text-align: center;
    border-style: none;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #adb5bd;
}

/*Table information*/
/* Header table information */
.header-table-information {
    display: flex;
    justify-content: space-between;
}

.header-table-information .title-table-information {
    padding: 30px 0 20px 12px;
    color: #13293d;
}

/* Content  */
.table-content {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #adb5bd;

}

.table-content .table-student-infomation {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

}

.table-student-infomation th,
td {
    color: #13293d;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    text-align: center;
}

.table-student-infomation tr:nth-child(even) {
    background-color: #e3f2fd;
}

.table-student-infomation tr:hover,
tr:checked {
    background-color: #bbdefb;
    cursor: pointer;
}

.table-student-infomation .active {
    background-color: #43c8e7 !important;
}

.table-student-infomation th {
    background-color: #04647a;
    color: white;

}


/*footer   #457b9d*/
.footer {
    background-color: white;
    color: black;
    text-align: right;
    padding: 20px;
}




/*Student managerment*/
.search {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #adb5bd;
}

.title-search {
    padding: 8px 0 3px 12px;
    color: #13293d;
}

/* search grade */
.container-search-grade {
    display: grid;
    background-color: white;
    border-style: none;
    margin-top: 5px;
    margin-bottom: 10px;
    grid-template-columns: repeat(3, 1fr);
}

/* search student */
.container-search-student {
    display: grid;
    background-color: white;
    border-style: none;
    margin-top: 5px;
    margin-bottom: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.search-item {
    background-color: white;
    text-align: left;
    border-style: none;
    padding: 8px 10px;
}


/* create */
.create {
    width: 15%;
    text-align: right;
    border-style: none;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;

}


/*Paging*/
.paging {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    width: 50%;
    background-color: #f2f5f5;
    /* background-color: red; */
    text-align: center;
    border-style: none;
}

.pagination {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.take-current-page {
    border: none;
    background-color: #bee9e8;
    border-radius: 10%;
}

td.hiden {
    display: none;
}