* {
  box-sizing: border-box;
}

/*Button delete, update*/
.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
}

.button-edit {
  background-color: #04AA6D;
  margin: 5px 2px 4px 2px;
}

.button-delete {
  background-color: #ef233c;
  margin: 5px 2px 4px 2px;
}

.button-create {
  background-color: #04AA6D;
  float: right;
  font-size: 18px;
  margin: 16px;
}

.button-submit-search {
  background-color: #62b6cb;
  float: left;
  font-size: 17px;
  margin-right: 4%;
}

.button-yes {
  background-color: #04AA6D;
  font-size: 25px;
  padding: 10px 35px;
}

.button-no {
  background-color: #ef233c;
  font-size: 25px;
  padding: 10px 35px;
}

.button-search-in-form-create {
  background-color: #62b6cb;
  font-size: 15px;
}

.button-search-in-form-create:hover {
  opacity: 0.8;
}

/*Dropdown List*/
.dropbtn {
  background-color: #adb5bd;
  color: white;
  padding: 12px 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #495057;
}

/*Dropdown List*/


/*khung search*/
.topnav input[type=text] {
  text-align: left;
  width: 100%;
  padding: 6px;
  border: 3px solid #62b6cb;
  border-radius: 3px;
  font-size: 17px;
}

/*Dropdown select option*/
.dropdown-select-option {

  .select-option {
    text-align: center;
    width: 100%;
    padding: 6px;
    font-size: 17px;
    border: 3px solid #62b6cb;
    border-radius: 3px;

    option:first-child {
      color: #ccc;
    }

    option {
      color: black;
    }

    option:checked,
    option:hover {
      color: white;
      background-color: #62b6cb;
    }

  }
}

.dropdown-select-option .none-value {
  color: #5e5e5b;
}



/* form popup for all managerment */
.form-popup {
  display: none;
  /*hidden by default*/
  position: absolute;
  width: 750px;
  bottom: 25%;
  left: 30%;
  z-index: 9;
  padding: 10px;
  background-color: #8ecae6;
  border-radius: 15px;
}

/* form popup for class managerment */
.form-popup-class {
  display: none;
  /*hidden by default*/
  position: absolute;
  width: 750px;
  bottom: 37%;
  left: 30%;
  z-index: 9;
  padding: 10px;
  background-color: #8ecae6;
  border-radius: 15px;
}

/*Title fomr popup create*/
.title-form-create-edit {
  font-size: 30px;
  margin-bottom: 10px;
  color: #13293d;
}

/* Add styles to the form container */
.form-container {
  display: grid;
  grid-template-columns: 120px 580px;

}

/* Form */
.form-container .label-form-popup {
  font-size: 20px;
  margin: 12px 0;
  color: #13293d;
}

.form-container input[type=text],
.select-option-create {
  color: #5e5e5b;
  width: 100%;
  height: 40px;
  font-size: 17px;
  padding: 2px 5px 2px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  option:first-child {
    color: #ccc;
  }

  option {
    color: black;
  }

  option:checked,
  option:hover {
    color: white;
    background-color: #62b6cb;
  }
}

/* label birtday */
.birthday {
  color: #5e5e5b;
  font-size: 18px;
  width: 170px;
  padding: 2px 10px 2px 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Form */

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* container button form edit and create */
.container-btn-form-edit-create {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 25px;
  margin-left: 140px;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #109564;
  color: white;
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
  opacity: 1;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  margin-left: 50px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover {
  opacity: 0.8;
}


/* Popup confirm delete  */
.popup-delete {
  display: none;
  /*hidden by default*/
  position: absolute;
  bottom: 53%;
  left: 39%;
  z-index: 9;
  border-radius: 15px;
}
.popup-delete h3{
  text-align: center;
}
/* .title-popup-delete {
  padding-left: 25px;
} */

.confirm-delete {
  display: flex;
  display: none;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* Căn giữa theo chiều ngang */
  /* align-items: center; */
  /* Căn giữa theo chiều dọc */
  background: #8ecae6;
  width: 400px;
  padding: 50px 20px;
}

.layout-confim {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  align-items: baseline;
}


.reason-delete {
  font-size: 19px;
  margin: 12px 0;
  margin-left: 20px;
  color: #13293d;
}

.confirm-delete input[type=text] {
  text-align: left;
  width: 80%;
  padding: 6px;
  border: 3px solid #62b6cb;
  border-radius: 3px;
  font-size: 17px;
}

/* search-student-form-create */
.container-search-in-form-create {
  border: 2px #16697a none;
  border-radius: 10px;
  padding: 4px;
  background-color: #a9d6e5;
  box-shadow: 0 0 15px 2px #16697a;
  margin-bottom: 10px;
}

.search-student-form-create {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-in-form-popup {
  font-size: 17px;
  color: #13293d;
}

.search-student-form-create>div {
  margin: 0 20px 0 0;
}

.search-student-form-create input[type=text] {
  color: #5e5e5b;
  width: 400px;
  height: 30px;
  font-size: 15px;
  padding: 2px 5px 2px 10px;
  margin: 5px 1px;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}